* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: helvetical;
    src: url(./helveticaneue.woff2);
}

@font-face {
    font-family: helveticam;
    src: url(./helveticaneue-medium.woff2);
}

@font-face {
    font-family: hello;
    src: url(./hello);
}

@font-face {
    font-family: nous;
    src: url(./nous);
}

#main {
    width: 100%;
    position: relative;

}

#loader {
    width: 100%;
    height: 100%;
    background-color: #F3C77C;
    position: absolute;
    top: 0;
    transition: cubic-bezier(.59, .34, .53, 1.06)1s;
    position: relative;
    z-index: 99;

}

img {
    height: 260px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: none;
}

#page1 {
    width: 100%;
    height: 100vh;
    background-color: #151414;
    position: relative;
    cursor: default;
}

#page1 i {
    position: absolute;
    right: 0;
    top: 0;
    color: #e7cfb1;
    display: none;
}

#nav {
    width: 650px;
    height: 100px;
    position: absolute;
    right: 9px;
    top: 0;
    font-family: helvetica;
    font-size: 13px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #e7cfb1;
    gap: 60.5px;
}

#nav a {
    font-weight: 500;
    font-family: helvetica;
    font-size: 20px;
    color: #e7cfb1;
    text-decoration: none;
    z-index: 1;
    cursor: pointer;
}

#nav a:hover {
    color: orange;
}

svg {
    position: absolute;
    left: 20px;
    top: 20px;
}

#page1 h1 {
    position: absolute;
    top: 39.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: hello;
    color: #f3c77c;
    font-size: 50vw;
    letter-spacing: -0.4vw;
}

span h2 {
    color: #f3c77c;
    font: helvetical;
}

#page2 {
    width: 100%;
    height: 100vh;
}

@media (max-width:600px) {
    #nav {
        display: none;
    }

    svg {
        position: absolute;
        left: 10px;
        top: 10px;
        scale: .7;
    }

    #page1 i {
        position: absolute;
        right: 30px;
        top: 25px;
        color: #e7cfb1;
        display: block;
        font-size: 30px;

    }


}